$header-height: 70px;
$logo-height: 48px;
$items-top-margin:  ( $header-height - $logo-height )/2;


.header {
    width: 100%;
    height: $header-height;
    background-color: rgb(82, 110, 201);
    //vertical-align: center;
    position: fixed;
    min-width: 850px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.4);
}
.logo {
    float: left;
    //position: absolute;
    height: $logo-height;
    //align-items: center;
    //vertical-align: middle;
    margin-top: $items-top-margin;
    margin-left: 12px;
}
.name {
    //font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 30px;
    font-stretch: wider;
    font-variant-caps: petite-caps;
    float: left;
    height: $logo-height;
    margin-top: $items-top-margin;
    padding-top: 6px;
    margin-left: 10px;
    text-shadow: 2px 2px 4px #052f77;
}
.name a {
    display: block;
    color: rgb(214, 221, 243);
    text-shadow: 2px 2px 4px #052f77;
    text-decoration: none;
    font-weight: 600;
}

.navigation {
    float:right;
    height: $header-height;
    margin-top: $header-height/2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    //background-color: #f1f1f1;
    //height: $header-height;
  }

  li {
      float: left;
  }
  
  li a {
    display: block;
    color: rgb(214, 221, 243);
    text-shadow: 2px 2px 4px #052f77;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(46, 72, 158);
    color: white;
  }

  li a:active {
    background-color: rgb(65, 86, 155);
    color: white;
  }