<div class="header">
    <div class="logo">
        <a [routerLink]="['/about']">
            <span class="pi pi-align-right" style="font-size: 3em; color:rgb(214, 221, 243)"></span>
        </a>
    </div>
    <div class="name">
        <a [routerLink]="['/about']">
            <p>Damian Krzemiński</p>
        </a>
    </div>
    <!--
    <div class="navigation">
        <ul>
            <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >Experiance</a></li>
            <li><a [routerLink]="['/education']" routerLinkActive="router-link-active" >Education</a></li>
            <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects</a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
        </ul>
    </div>
    -->
</div>