<div class="header">
    <div class="logo">
        <a [routerLink]="['/home']">
            <span class="pi pi-briefcase" style="font-size: 3em; color:darkblue"></span>
        </a>
    </div>
    <div class="name">
        <p>Damian Krzemiński</p>
    </div>
    <div class="navigation">
        <ul>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Experiance</a></li>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Education</a></li>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Projects</a></li>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >About</a></li>
            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Contact</a></li>
        </ul>
    </div>
</div>