<div class="container">
    <div class="icon">
        <span class="pi pi-envelope icons"></span>
    </div>
    <div class="link">
        <a href="mailto:krzemodam2@gmail.com">krzemodam2@gmail.com</a>
    </div>
</div>
<div class="container">
    <div class="icon">
        <span class="pi pi-user icons"></span>
    </div>
    <div class="link">
        <a href="https://www.linkedin.com/in/damian-krzemi%C5%84ski-480a6b75/">
            https://www.linkedin.com/in/damian-krzemi%C5%84ski-480a6b75/
        </a>
    </div>
</div>
<div class="container">
    <div class="icon">
        <span class="pi pi-folder-open icons"></span>
    </div>
    <div class="link">
        <a href="https://github.com/krzemdamian/">
            https://github.com/krzemdamian/
        </a>
    </div>
</div>
