<div class="container">
    <img src="../../../../assets/face-image.jpg">
</div>
<div class="content">
    <p>My name's Damian. I have graduated constructions but I found true passion in programming.
    I am fascinated by how technology shapes the World. It is incredible how many possibilities
    and conveniences technology brings us. This is why I decided to change my occupation
    and dive into IT-world. What I prize programming for is that it allows people to make
    better decisions. It is due to the fact that machines are able to process a great
    amount of data in opposite to man, who's capability is limited. Thanks to this
    we as mankind are able to sensibly utilize resources. I hope that IT solutions 
    will help people to sustain our habitat.</p><br>

    <p>In my spare time, I cherish meeting my friends and family. The drawback of prevalent
    access to internet and smartphones is that it impairs social skills. Some scientists
    point out that social media have similar influence as drugs. This is why I pay special
    attention not to overdose those media and spend quality time in person.
    </p><br>
    <p>During summertime, I adore riding a bicycle and rollerblading. Among other activities,
    I like to swim and exercises at the gym. I know that it's very important to be in shape.
    Especially when one has sedentary work. I also enjoy Si-Fi movies and cosmology.</p>
</div>
