<div class="container">
    <img src="../../../../assets/face-image.jpg">
</div>
<div class="content">
    <p>My name's Damian. I have graduated construcions but I found true passion in programming.
    I am facienated how technology shapes the World.
    It is incredible how many possibilites and convenecies technology brings us.
    This is why I decided to change my occupation and dive into IT-world.
    What I prize programming for is that it allows people to make better decisions.
    It is due to fact that machines are able to process great amout of data in oposite 
    to man, who's cappability is limited.
    Thanks to this we as a mankind are able to sensibly utilize resources.
    I hope that IT solutions will help people to sustain our habitat.</p><br>

    <p>In my spare time I cherish meeting my firends and family.
    The drawback of prevalent access to internet and smartfons impare social skills.
    Some scienties point that social media have similar influance as drgus.
    This is why I pay special attention not to overdose those medias and spend quality time in person.
    </p><br>
    <p>During summer time I adore riding bicycle and rollerblading.
    Among other activities I like to swim and exercises at gym.
    I know that it's very imporatnt to be in shape. Especially when one have sedentary work.
    </p>
    <p>I also enjoy Si-Fi moveis and cosmology.</p>
</div>
