<div id="mySidenav" class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
    <ul>
        <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >Experiance</a></li>
        <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >Education</a></li>
        <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >Projects</a></li>
        <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >About</a></li>
        <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >Contact</a></li>
    </ul>
</div>