<div id="mySidenav" class="sidenav">
    <ul>
        <li><a [routerLink]="['/experiance']" routerLinkActive="router-link-active" >Experiance</a></li>
        <li><a [routerLink]="['/skills']" routerLinkActive="router-link-active" >Skills</a></li>
        <li><a [routerLink]="['/education']" routerLinkActive="router-link-active" >Education</a></li>
        <li><a [routerLink]="['/projects']" routerLinkActive="router-link-active" >Projects</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
    </ul>
</div>