<p-card header="Post-graduate studies [10/2014-07/2015]">
        <p>Cracow University of Technology, Cracow University
        of Economics, Postgraduate studies: Property valuation</p>
</p-card><br/>
<p-card header="Masters Degree [03/2013-09/2015]">
        <p>Cracow University of Technology, Second degree (MSc), Building and Engineering Constructions</p>
        <p>Master thesis topic: Design for steel structure of an office high-rise building</p>
        
</p-card><br/>
<p-card header="Bachelor Degree [10/2010-02/2013]">
        <p>Cracow University of Technology, First degree (BSc)</p>
        <p>Specialization: Concrete Structures</p>
        <p>Thesis topic: Design for selected reinforced concrete structural elements 
        of service-residential building</p>
        
</p-card>
    