<div>
<p-accordion>
    <p-accordionTab header="IT Industry">
        <p-fieldset legend="Junior .Net Software Developer">
            <p>Responsibilities:</p>
            <ul>
                <li>Developing software in the Scrum methodology, based on available
                    specification, documents, sources describing the functionality</li>
                <li>Software testing in cooperation with a testers team</li>
                <li>Diagnosing code defects and repairing software bugs</li>
                <li>Perform code reviews for a mutual code quality assurance</li>
                <li>Maintenance and participation in the process of improvement</li>
                <li>Participating in scrum events: dailies, demos, retrospectives</li>
                <li>Active participation in meetings for establishing upcoming software features and implementation strategy</li>
                <li>Preparing documentation including the comments in the source code</li>
            </ul>
        </p-fieldset>
        <p-fieldset legend="Own work: Revit Add-In development">
            <ul>
                <li>Autodesk Revit extension adding new functionalities to the program.</li>
                <li>Add-in is written in C# using .NET Framework, WPF and IronPython</li>
                <li>Usage of GIT source control versioning: <a href="https://github.com/krzemdamian/DKTools">https://github.com/krzemdamian/DKTools</a></li>
                <li>Design patterns implementation</li>
                <li>Unit tests using custom nUnit framework in Revit environment</li>
            </ul>
        </p-fieldset>
        <p-fieldset legend="Prescient: Junior Product Support Engineer">
            <ul>
                <li>Quality assurance of new features provided by development team</li>
                <li>Handling application issues, describing, prioritizing and forwarding  reports as user stories for development team in agile methodology</li>
                <li>Technical support to usage of internal applications</li>
                <li>Conducting trainings and knowledge sharing sessions</li>
                <li>Investigating and resolving issues with internal software</li>
            </ul>    
        </p-fieldset>
    </p-accordionTab>
    <p-accordionTab header="Construction Industry">
        <p-fieldset legend="Prescient: Design Engineer">
            <ul>
                <li>Matching proper structural diagrams for building architectures</li>
                <li>Preparing building structural 3d models for construction stress analysis and manufacturing based on building architectures</li>
                <li>Preparation of workshop drawings of typical Prescient components</li>
                <li>The responsibility of proper generation of workshop drawings through application</li>
                <li>The responsibility for data being sent to manufacturing</li>
                <li>Knowledge sharing</li>
            </ul>
        </p-fieldset>
        <p-fieldset legend="Prescient: Junior Design Engineer">
            <ul>
                <li>Preparation of formal building drawings for building permission</li>
                <li>Adapting Prescient structures to architectural models</li>
                <li>Global verification of correctness of the structural solutions</li>
                <li>Revit central model team collaboration</li>
            </ul>
        </p-fieldset>
    </p-accordionTab>
    <p-accordionTab header="Real Estate Industry">
        <p-fieldset legend="Rrzeczoznawca24 Piotr Figiel: Trainee">
            <ul>
                <li>Real estate appraisals</li>
                <li>Statistical analysis</li>
                <li>Market value property estimation</li>
                <li>Value-in-use property calculation</li>
                <li>Investment value calculation</li>
            </ul>
        </p-fieldset>
    </p-accordionTab>
</p-accordion>
</div>